<footer>
    <form action="/logout" method="post">
        <section id="last_block" class="">
            Copyright Content &copy By Mohit
            <button type="submit">Logout</button>

        </section>
    </form>

    <script src="javascript_code/project_1.js"></script>
</footer>

</body>

</html>