body {
    background-image: linear-gradient(to bottom right, #f64b3c, #f6eedf);
    color: white;
    font-family: auto;
    margin: 12.63px;
    line-height: normal;
    font-size: 25px;
}

.homeHead {
    text-align: center;
}

.img {
    display: inline;
    color: red;
    border-radius: 37.89px;
    margin-bottom: 37.89px;
}

.sb {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.sb1 {
    margin-top: 37.89px;
    background-color: #F6563C;
    width: 429.42px;
    height: 396.42px;
}

.home_second_block {
    text-align: center;
    margin-top: 75.78px;
}

.home_sb_Head {
    color: white;
    padding-left: 25.26px;
    text-align: center;
}

.form {
    padding-left: 25.26px;
}

.forminput {
    margin: 12.63px;
    margin-left: 0px;
}

#home_sign {
    margin-top: 50.52px;
    display: flex;
}

#home_sign a {
    margin-left: 12.63px;
}

@media screen and (max-width:980px) {
    .sb {
        flex-direction: column;
        align-content: center;
    }
    
}